<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recibir pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="pedido-content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recibir pedidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="pedido-wrapper">
    <div *ngIf="isLoading" class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Cargando pedidos...</p>
    </div>

    <div *ngIf="!isLoading && pedidos.length === 0" class="pedido-empty-state">
      <ion-icon name="restaurant-outline"></ion-icon>
      <h3>No hay pedidos pendientes</h3>
      <p>Los pedidos aparecerán aquí cuando lleguen de los clientes</p>
    </div>

    <div *ngIf="!isLoading && pedidos.length > 0" class="pedidos-list">
      <ion-card *ngFor="let pedido of pedidos" class="pedido-card">
        <ion-card-header>
          <ion-card-title>
            Mesa {{ pedido.mesa_numero }}
          </ion-card-title>
          <ion-card-subtitle>
            <ion-icon name="time-outline"></ion-icon>
            {{ pedido.fecha | date:'dd/MM/yyyy HH:mm:ss' }}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li *ngFor="let item of pedido.items">
              {{ item.nombre }} x{{ item.cantidad }}
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>