<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="list"></ion-icon> Lista de mesas
    </ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="container">
  <div class="mesa-admin-wrapper">
    <ion-card class="mesa-admin-card">
      <ion-card-content>
        <ion-list class="snap-list">
          @for (mesa of mesas(); track $index) {
              <ion-card class="mesa-card">
                
                <div class="image-container">
                  <img 
                  [src]="mesa.foto" 
                  (error)="handleImageError($event)" />
                </div>

                <ion-card-header>
                  <ion-card-title>
                    Mesa {{ mesa.numero }} - {{ mesa.tipo }}
                  </ion-card-title>
                  <ion-card-subtitle>
                    Capacidad: {{ mesa.cantidad }}
                  </ion-card-subtitle>
                  <ion-card-subtitle>
                    Estado: 
                    <ion-badge [color]="mesa.disponible ? 'success' : 'danger'">
                      {{ mesa.disponible ? 'Disponible' : 'Ocupada' }}
                    </ion-badge> 
                  </ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <ion-button 
                    color="danger" 
                    expand="block"
                    (click)="eliminarMesa(mesa.id)">
                    Eliminar mesa
                  </ion-button>
                </ion-card-content>
              </ion-card>
            }
        </ion-list> 
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>