<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mesa-admin-wrapper">
    <ion-card class="mesa-admin-card">
      <ion-card-header>
        <ion-card-title>Listado de mesas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="mesa-admin-list">
          @for (mesa of mesas(); track $index) {
            <ion-item class="mesa-admin-item">
              <ion-label>
                <h2>Mesa {{ mesa.numero }} - {{ mesa.tipo }}</h2>
                <p>Capacidad: {{ mesa.cantidad }}</p>
              </ion-label>
              <ion-button color="danger" (click)="eliminarMesa(mesa.id)" fill="clear" slot="end">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
          }
        </ion-list> 
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>