<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="receipt-outline"></ion-icon>
      Mi pedido
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="volverHome()" fill="clear" shape="round">
        Volver
        <ion-icon slot="start" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Spinner de carga -->
  <div *ngIf="isLoading()" class="loading-container">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Cargando tu pedido...</p>
  </div>

  <!-- Estado vacío -->
  <div *ngIf="!isLoading() && !pedido()" class="empty-state">

  </div>

  <!-- Lista de pedidos -->
   @if(!isLoading() && pedido(); as p)
  {<div class="pedidos-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Pedido <strong id="estado-pedido">{{ p.estado }}</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Carrusel con la primer foto de cada prod -->
        <!-- Detalles del pedido -->
        <!-- Tiempo de espera -->
        <!-- Precio total -->
        <div class="carrusel">
          <div class="slide">
            <button type="button" (click)="cambiarImagen(-1)">&#10094;</button>
            <div class="image-container">
                @if (p.detalles_pedido.length > 0) {
                  <img
                    class="imagen"
                    [src]="carouselImgs[carouselIndex()]"
                    alt="{{ p.detalles_pedido[carouselIndex()].nombre_prod }}"
                  />
                }
            </div>
            <button type="button" (click)="cambiarImagen(1)">&#10095;</button>
          </div>
        </div>
        <ion-card class="detalles-pedido">
          <ion-card-subtitle class="detalles-subtitle">Detalles del pedido</ion-card-subtitle>
          <ion-list inset="true" lines="inset" class="lista-prod">
            <ion-item *ngFor="let producto of pedido()?.detalles_pedido">
              <ion-label>
                <h3 class="nombre_prod">{{ producto.nombre_prod }}</h3>
                <div class="sub-total">{{ producto.cantidad }} x ${{ producto.precio_unitario | number:'1.2-2' }}</div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
        <ion-card class="precio-total">
          <ion-card-content class="ion-text-center">
            <h3>Total: ${{ pedido()?.total | number:'1.2-2' }}</h3>
          </ion-card-content>
        </ion-card>
        @if(canConfirm()) {
          <app-main-button
          (click)="confirmarPedido()"
          >
            Confirmar entrega
          </app-main-button>
        }
        @else if(canPay()){
          <app-main-button
          (click)="iraCuenta()"
          >
            <ion-icon slot="start" name="card-outline"></ion-icon> Ir a la cuenta
          </app-main-button>
        }
        @else{
          <app-secondary-button
          [disabled]="true"
          >
          <ion-icon slot="start" name="alarm-outline"></ion-icon>
          Tiempo estimado: {{ p.tiempo_estimado }} min
          </app-secondary-button>
        }
      </ion-card-content>
    </ion-card>
  </div>}
</ion-content>
