<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="volverHome()" fill="clear" shape="round" slot="end" class="btn-volver">
      <ion-icon slot="start" name="home-outline"></ion-icon>
      Volver
    </ion-button>
    <ion-title slot="start">Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="segment-card">
    <ion-segment value="platos" (ionChange)="filtro.set($event.detail.value?.toString() || 'platos')">
      <ion-segment-button value="platos" class="segment-button">
        <ion-label>Platos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bebidas" class="segment-button">
        <ion-label>Bebidas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card>

 
  <div class="total-display-fixed">
    <div class="total-container">
      <div class="cart">
        <button type="button"
          (click)="hacerPedido()"
          [disabled]="clienteService.pedido().length < 1">
          <ion-icon name="cart-outline"></ion-icon>
          Hacer Pedido
        </button>
      </div>
      <div class="total-amount">${{ getSubtotalPedido() }}</div>
    </div>
  </div>

  <div class="snap-list">
    @for (producto of getProductosFiltrados(); track $index) {
      <div class="menu-content">
        <ion-card class="product-card">
          <ion-card-header class="ion-text-center">
            <ion-card-title>{{ producto.nombre | titlecase }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="carousel">
              @for (img of getAllImg(producto.imagenes) ; track $index) {
                <div class="slide">
                  <div class="image-container">
                    <img 
                      [src]="img"
                      [alt]="producto.nombre"
                    />
                  </div>
                </div>
              }
            </div>
            <div class="description">
              <ion-label>
                <p>Descripción</p>
                <h2>
                {{ producto.descripcion }}
                </h2>
              </ion-label>

            </div>
            <p class="tiempo">
              <ion-icon slot="end" name="time-outline"></ion-icon>
              Tiempo estimado de: <strong>{{ producto.tiempo }}</strong> Min. 
            </p>
            <div class="price-add ion-text-center">
              <div class="price">Precio: ${{ producto.precio }}</div>
            </div>

            <div class="button-container">

              <ion-button
                fill="outline"
                class="addrm-button"
                (click)="onRmItem(producto)"
                >
                <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
              </ion-button>
              
              <ion-button 
                (click)="onAddItem(producto)"
                class="addrm-button add"
                >
                <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
              </ion-button>

            </div>
          </ion-card-content>
        </ion-card>
      </div>
    }
  </div>
</ion-content>