<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="person-add"></ion-icon> Clientes Pendientes
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="cliente-content">
  <ion-list *ngIf="clientes.length > 0; else noHay">
    
    <div *ngFor="let cliente of clientes" class="cliente-item">
      
      <ion-avatar class="cliente-avatar">
        <img [src]="cliente.foto || 'assets/avatar-placeholder.png'" />
      </ion-avatar>

      <div class="cliente-label">
        <h3>{{ cliente.apellido }}, {{ cliente.nombre }}</h3>
        <p>{{ cliente.email || 'sin email' }}</p>
        <small>Registrado: {{ cliente.created_at | date:'short' }}</small>
      </div>

      <div class="acciones">
        <ion-button color="secondary" expand="block" (click)="aprobarCliente(cliente)">Aceptar</ion-button>
        <ion-button color="danger" expand="block" (click)="rechazarCliente(cliente)">Rechazar</ion-button>
      </div>

    </div>
  </ion-list>

  <ng-template #noHay>
    <div class="sin-clientes">
      <ion-icon name="people-outline" size="large"></ion-icon>
      <p>No hay clientes pendientes.</p>
    </div>
  </ng-template>
</ion-content>
