<div class="main-container">
  <ion-card class="ion-padding">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
      
    <ion-card-header>
      <div class="carrusel">
        <ion-img [src]="item.imagenes[currentImageIndex]" width="70%" height="auto"></ion-img>
        <div class="carrusel-controls">
          <button (click)="prevImage()" [disabled]="currentImageIndex === 0">&lt;</button>
          <button (click)="nextImage()" [disabled]="currentImageIndex === item.imagenes.length - 1">&gt;</button>
        </div>
      </div>
    </ion-card-header>
    <div class="sub-header">
      <ion-card-title>{{ item?.nombre }}</ion-card-title>
      <ion-label>Precio: {{ item?.precio | currency:'$' }}</ion-label>
    </div>
    <ion-card-content>
      <p>{{ item?.descripcion }}</p>
    </ion-card-content>
    <div class="bottom">
      <small>Tiempo estimado {{ item?.tiempo }} min</small>
      <ion-button >
        <ion-icon slot="start" name="add"></ion-icon>
        Agregar
      </ion-button>
    </div>

  </ion-card>
</div>