<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="volverHome()" fill="clear" shape="round" slot="end">
      Volver
      <ion-icon slot="start" name="caret-back"></ion-icon>
    </ion-button>
    <ion-title>Mi Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="main-card">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Pedido</ion-card-title>
      <ion-card-subtitle>Productos seleccionados: {{ clienteService.getItemCount() }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content class="main-container">
      @if (pedido().length > 0) {
        <ion-list>
          @for (item of pedido(); track $index) {
            <ion-item class="item-lista">
              <div class="info">

                <div class="image-container">
                  <img [src]="handleImages(item)" alt="">

                </div>
                
                <div class="detalles">
                  <!-- Producto -->
                   <h2>{{ item.nombre | titlecase }}</h2>
                  <!-- Precio unitario -->
                   <p>{{ item.quantity }} x {{ item.precio | currency  }}</p>
                </div>
                <div class="subtotal">
                  <!-- Precio unitario * cantidad -->
                  {{ item.subtotal | currency }}
                </div>
              </div>
            </ion-item>
          }
        </ion-list>

        <!-- Total Final -->
        <ion-item lines="none" color="secondary">
          <ion-label>
            <h2><strong>TOTAL:</strong></h2>
          </ion-label>
          <ion-note slot="end" color="light">
            <h2 class="precio-total">{{ subtotal | currency:'$':'symbol':'1.0-0' }}</h2>
          </ion-note>
        </ion-item>
        
        <ion-button expand="block" color="secondary" class="ion-margin-top" (click)="confirmarPedido()">
          Confirmar Pedido
          <ion-icon name="checkmark-outline" slot="end"></ion-icon>
        </ion-button>
      }
    </ion-card-content>
  </ion-card>

</ion-content>