<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin-Crear empleados</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">tab1-cargaEmpleado</ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-card-content class="ion-padding">
    <form [formGroup]="empleadoForm" (ngSubmit)="crearEmpleado()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="text" inputmode="numeric" formControlName="dni"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CUIL</ion-label>
        <ion-input type="text" inputmode="numeric" formControlName="cuil"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="clave"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Perfil</ion-label>
        <ion-select formControlName="perfil" placeholder="Selecciona perfil" interface="action-sheet">
          <ion-select-option value="cocinero">cocinero</ion-select-option>
          <ion-select-option value="mozo">mozo</ion-select-option>
          <ion-select-option value="maitre">maître</ion-select-option>
          <ion-select-option value="bartender">bartender</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Foto</ion-label>
        <ion-button expand="block" (click)="tomarFoto()">Tomar Foto</ion-button>
      </ion-item>

      <div *ngIf="foto" class="container-img-empleado">
        <img [src]="foto" id="img-empleado"/>
      </div>

      <ion-item>
        <ion-label>QR</ion-label>
        <ion-button expand="block" (click)="leerQR()">Leer QR</ion-button>
      </ion-item>

      <ion-button expand="block" type="submit">
        Crear Empleado
      </ion-button>
    </form>
  
    <div class="container-cerrar-sesion">
      <ion-button expand="block" (click)="logout()" color="danger">
        Cerrar sesión
      </ion-button>
    </div>
  </ion-card-content>

</ion-content>
