#img-empleado {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 10px 0;
    display: flex;

}

.container-img-empleado {
    display: flex;
    justify-content: center;
    align-items: center;
}