<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="people"></ion-icon> Agregar nuevo empleado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="tab1-content">
  <div class="empleado-wrapper">
    <ion-card class="empleado-card-content ion-padding">
      <form [formGroup]="empleadoForm" (ngSubmit)="crearEmpleado()">
        <ion-item class="empleado-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item class="empleado-item">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido"></ion-input>
        </ion-item>

        <ion-item class="empleado-item">
          <ion-label position="floating">DNI</ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="dni"></ion-input>
        </ion-item>

        <ion-item class="empleado-item">
          <ion-label position="floating">CUIL</ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="cuil"></ion-input>
        </ion-item>

        <ion-item class="empleado-item">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="empleado-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="clave"></ion-input>
        </ion-item>

        <ion-item class="empleado-item">
          <ion-label>Perfil</ion-label>
          <ion-select formControlName="perfil" placeholder="Selecciona perfil" interface="action-sheet">
            <ion-select-option value="cocinero">Cocinero</ion-select-option>
            <ion-select-option value="mozo">Mozo</ion-select-option>
            <ion-select-option value="maitre">Maître</ion-select-option>
            <ion-select-option value="bartender">Bartender</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item class="empleado-item">
          <ion-label>Foto</ion-label>
          <ion-button expand="block" (click)="tomarFoto()" class="empleado-button">Tomar Foto</ion-button>
        </ion-item>

        <div *ngIf="foto" class="container-img-empleado">
          <div class="img-borrar">
            <img [src]="foto" id="img-empleado"/>
            <ion-button fill="clear" color="danger" size="small" (click)="borrarImagen()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </div>

        <ion-item class="empleado-item">
          <ion-label>Escanear QR del DNI</ion-label>
          <ion-button expand="block" (click)="leerQR()" class="empleado-button">Leer QR</ion-button>
        </ion-item>

        <ion-button expand="block" type="submit" class="empleado-button">
          Crear Empleado
        </ion-button>

        <!-- Botón resetear formulario -->
        <ion-button expand="block" color="medium" (click)="resetFormulario()" class="producto-button">
          Limpiar todo
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
