<ion-content [fullscreen]="true" class="empleado-content">
  <h2 class="empleado-title ion-text-center">Perfil</h2>
    <div *ngIf="empleado as emp" class="empleado-card">
      
      <div class="empleado-avatar">
        <img [src]="emp.foto || 'assets/avatar-placeholder.png'" id="img-empleado" />
      </div>

      <div class="empleado-text">
        <p>Nombre Completo: {{ emp.nombre }} {{ emp.apellido }}</p>
        <p>Rol: {{emp.perfil}}</p>
        <p>DNI: {{emp.dni}}</p>
        <p>CUIL: {{emp.cuil}}</p>
      </div>
    </div>

    <div class="container-cerrar-sesion">
      <ion-button expand="block" (click)="logout()" color="danger">
        Cerrar sesión
      </ion-button>
    </div>

</ion-content>
