<ion-content>
  <div class="splash-screen d-flex flex-column justify-content-center align-items-center text-center">
    
    <h1 class="mb-3">grupo sinNombre-2025</h1>
    <!-- Logo con animación -->
    <img src="assets/icon/icon-only.png" alt="Logo" class="logo mb-4" />

    <!-- Nombres del grupo e integrantes con animación -->
    <p class="mb-1 upWardText popup-name popup-name-1">Corpus Gerónimo</p>
    <p class="mb-1 upWardText popup-name popup-name-2">Pagés Valentino</p>
    <p class="mb-1 upWardText popup-name popup-name-2">Borda Victoria</p>

  </div>
</ion-content>

