/* ACTION SHEET (menu del ion-select) */

.action-sheet-group {
  background: #1e1e1e !important;
}

.action-sheet-button {
  color: white !important;
}

.action-sheet-title {
  color: white !important;
}