<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <img src="assets/icon/icon-only.png" alt="Logo" class="header-logo">
    </ion-buttons>

    <ion-title>Registro</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="volverLogin()">
        <ion-icon name="log-out-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="registro-wrapper">
    <ion-card>

      <ion-card-content class="ion-padding">

        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <ion-input type="text" formControlName="name" label="Nombre" fill="outline" labelPlacement="floating" class="ion-margin-top"/>
          <ion-input type="text" formControlName="surname" label="Apellido" fill="outline" labelPlacement="floating" class="ion-margin-top"/>
          <ion-input type="text" formControlName="dni" label="DNI" fill="outline" labelPlacement="floating" class="ion-margin-top"/>
          <ion-input type="email" formControlName="email" label="Correo Electrónico" fill="outline" labelPlacement="floating" class="ion-margin-top"/>

          <div class="password-container">
            <ion-input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" label="Contraseña" fill="outline" labelPlacement="floating" class="ion-margin-top password-input">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input> 
          </div>

          <div class="password-container">
            <ion-input [type]="passwordVisible ? 'text' : 'password'" formControlName="password2" label="Repetir Contraseña" fill="outline" labelPlacement="floating" class="ion-margin-top password-input"> 
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input> 

          </div>

          <div class="extras-container ion-margin-top ion-text-center">
            <ion-label>Foto</ion-label>
            <!-- <ion-button expand="block" (click)="tomarFoto()">Tomar Foto</ion-button> -->
            <app-secondary-button
            [clase]="'menu-option'"
            (click)="tomarFoto()">
              Subir imagen de perfil
            </app-secondary-button>
            <div *ngIf="foto" class="container-img-empleado">
              <img [src]="foto" id="img-empleado" width="100"/>
            </div>

            <ion-label class="ion-margin-top">QR DNI</ion-label>
            <app-secondary-button
            (click)="leerQR()">
              Escanear DNI
            </app-secondary-button>
          </div>

          <!-- <ion-button expand="block" type="submit" class="btn-primary ion-margin-top">
            Crear Cuenta <ion-icon name="person-add-outline" slot="end"></ion-icon>
          </ion-button> -->
          <app-main-button
            type="submit">
              Crear Cuenta
          </app-main-button>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
