.list {
  border-radius: 10px;
  border: 1px solid #D04B08;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-height: 135px;
  overflow-y: auto;

  ion-item {
    max-height: 60px;
  }
  .producto {
    font-size: 18px;
    font-weight: 600;
    color: #E85D04;
  }
  .precio-unitario {
    font-size: 14px;
    color: white;
  }
  .total-item {
    font-size: 16px;
    font-weight: 600;
    color: #FAA307;
  }

}

.resumen-card {
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #D04B08;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  .resumen-linea {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    span {
      font-size: 16px;
      color: #E85D04;
    }
    strong {
      font-size: 16px;
      font-weight: 600;
      color: #FAA307;
    }

    .monto{
      font-size: 18px;
      font-weight: 700;
      color: #FAA307;
    }
  }
}
.propina-text{
  font-size: 12px;
  color: rgb(190, 190, 190);
}
.total-final{
  font-size: 20px;

  .total-amount{
    font-size: 22px;
    font-weight: 700;
    color: #FAA307;
  }
}