::ng-deep app-main-button {
  display: block;
  width: 100%;
}

.custom-main-button {
  --background: #FAA307 !important;
  --color: #03071E !important;
  --border-radius: 8px !important;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
  padding: 15px 0 !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem !important;
  margin: 10px 0 !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  box-sizing: border-box !important;
}