<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="restaurant"></ion-icon> Crear nueva mesa
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="mesa-content">
  <div class="mesa-wrapper">
    <ion-card class="mesa-card ion-padding">
      <form [formGroup]="mesaForm" (ngSubmit)="onSubmit()">
        <ion-item lines="none" class="mesa-item">
          <ion-label position="floating">Número de mesa</ion-label>
          <ion-input formControlName="numero" type="number" fill="outline"></ion-input>
        </ion-item>

        <ion-item lines="none" class="mesa-item">
          <ion-label position="floating">Capacidad</ion-label>
          <ion-input formControlName="capacidad" type="number" fill="outline"></ion-input>
        </ion-item>

        <ion-item lines="none" class="mesa-item">
          <ion-label position="fixed">Tipo de Mesa</ion-label>  
          <ion-select formControlName="tipo" interface="action-sheet" placeholder="Seleccionar Tipo">
            <ion-select-option value="VIP">VIP</ion-select-option>
            <ion-select-option value="estandar">Estándar</ion-select-option>
            <ion-select-option value="movilidad reducida">Movilidad reducida</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="foto-zone" (click)="tomarFoto()">
          <img [src]="mesaForm.get('foto')?.value" alt="Foto mesa" class="foto-img"/>
          <div *ngIf="mesaForm.get('foto')?.value" class="foto-placeholder">
            <p>Tomar foto</p>
          </div>
        
        </div>

      <app-secondary-button (click)="generateQR()" expand="block" fill="clear" shape="round">
        Generar QR
      </app-secondary-button>
      
        
      
        <div *ngIf="qrData" class="ion-text-center ion-margin-top" #qrContainer>
          <qrcode [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      
        <ion-button class="ion-margin-top mesa-button" expand="block" type="submit" [disabled]="mesaForm.invalid">
          Crear Mesa
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
