<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="home"></ion-icon> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="home-wrapper">
    <!-- Bienvenida -->
    <div class="container-bienvenida">
      <h1>¡Bienvenido/a de vuelta!</h1>
      <h2 *ngIf="perfil">
        Ingresaste con perfil de: <strong>{{ perfil }}</strong>
      </h2>
    </div>

    <!-- <form (ngSubmit)="sendNotification()">

      <ion-item>
        <ion-input name="title" label="Titulo notificacion" [(ngModel)]="notification.title" />
      </ion-item>
    
      <ion-item>
        <ion-textarea name="body" label="Cuerpo notificacion" [(ngModel)]="notification.body"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input name="body" type="url" inputmode="url" label="URL notificacion" [(ngModel)]="notification.url"/>
      </ion-item>
    
      <ion-item>
        <ion-label>Fecha envio</ion-label>
        <ion-datetime-button slot="end" datetime="datetime"/>
        
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" name="datetime" [(ngModel)]="notification.date" />
          </ng-template>
        </ion-modal>  
      </ion-item>
    
      <ion-item lines="none">
        <ion-button type="submit" slot="end">Enviar</ion-button>
      </ion-item>
    </form> -->

    <!-- Dueño / Supervisor -->
    <ion-card *ngIf="perfil === 'dueño' || perfil === 'supervisor'">
      <ion-card-header>
        <ion-card-title>Gestión General</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="secondary" (click)="agregarEmpleado()">
          + Agregar empleado
        </ion-button>
        <ion-button expand="block" color="secondary" (click)="agregarMesa()">
          + Agregar mesa
        </ion-button>
        <ion-button expand="block" (click)="adminCliente()">
          Administrar clientes
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Cocinero / Bartender -->
    <ion-card *ngIf="perfil === 'cocinero' || perfil === 'bartender'">
      <ion-card-header>
        <ion-card-title>Productos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Cocinero -->
        <ion-button
          *ngIf="perfil === 'cocinero'"
          expand="block"
          color="secondary"
          (click)="agregarProducto()"
        >
          + Agregar plato
        </ion-button>
        <ion-button
          *ngIf="perfil === 'cocinero'"
          expand="block"
          color="secondary"
          (click)="verMenu()"
        >
          Ver menú
        </ion-button>

        <!-- Bartender -->
        <ion-button
          *ngIf="perfil === 'bartender'"
          expand="block"
          color="secondary"
          (click)="agregarProducto()"
        >
          + Agregar bebida
        </ion-button>
        <ion-button
          *ngIf="perfil === 'bartender'"
          expand="block"
          color="secondary"
          (click)="verMenu()"
        >
          Ver menú
        </ion-button>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Pedidos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="secondary" (click)="recibirPedidos()">
          Ver pedidos recibidos
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Maître -->
    <ion-card *ngIf="perfil === 'maitre'">
      <ion-card-header>
        <ion-card-title>Gestión Maître</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="secondary" (click)="listaEspera()">
          Lista de espera
        </ion-button>
        <ion-button expand="block" color="secondary" (click)="verMesas()">
          Mesas
        </ion-button>
        <ion-button expand="block" color="secondary" (click)="clientes()">
          Registrar Cliente
        </ion-button>
      </ion-card-content>
    </ion-card>

  <ion-card *ngIf="perfil == 'sin-perfil'">
    <ion-card-header>
      <ion-card-title>Opciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="clienteMenu()" expand="block" fill="clear" shape="round">
        Ver Menú <ion-icon name="restaurant-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-card-content>

  </ion-card>

    <!-- Logout -->
    <div class="container-cerrar-sesion">
      <ion-button expand="block" (click)="logout()" color="danger">
        Cerrar sesión
      </ion-button>
    </div>
  </div>
</ion-content> 
