<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="home"></ion-icon> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-bienvenida">
    <h1>¡Bienvenido/a de vuelta!</h1>
    <h2 *ngIf="perfil">Ingresaste con perfil de: <strong>{{ perfil }}</strong></h2>
  </div>

  <ion-card *ngIf="perfil === 'dueño' || perfil === 'supervisor'">
      <ion-card-header>
        <ion-card-title>Empleados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="agregarEmpleado()">
          <ion-icon name="add"/> Agregar empleado
        </ion-button>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Mesas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="agregarMesa()">
          <ion-icon name="add"/> Agregar mesa 
        </ion-button>
        <br>
        <ion-button expand="block" (click)="adminMesa()">
          Administrar mesas
        </ion-button>
        
        
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Clientes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" (click)="adminCliente()">
          Administrar clientes
        </ion-button>
      </ion-card-content>

  </ion-card>

  <ion-card *ngIf="perfil === 'cocinero' || perfil === 'bartender'">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Productos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button *ngIf="perfil === 'cocinero'" expand="block" (click)="agregarProducto()">
          <ion-icon name="add"/> Agregar plato
        </ion-button>
        <ion-button *ngIf="perfil === 'bartender'" expand="block" (click)="agregarProducto()">
          <ion-icon name="add"/> Agregar bebida
        </ion-button>
      </ion-card-content>

      <ion-card-header>
        <ion-card-title class="ion-text-center">Pedidos</ion-card-title>
          <ion-card-content>
            <ion-button expand="block" (click)="recibirPedidos()">
              Ver pedidos recibidos
            </ion-button>
          </ion-card-content>
      </ion-card-header>
  </ion-card>



  <div class="container-cerrar-sesion">
    <ion-button expand="block" (click)="logout()" color="danger">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
