.container-bienvenida {
  text-align: center;
  margin-top: 20px;

  h1 {
    font-weight: bold;
  }

  h2 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}

.container-cerrar-sesion {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  ion-button {
    --border-radius: 10px;
    --padding-start: 20px;
    --padding-end: 20px;
    font-weight: bold;
  }
}

ion-content {
  --background: #2b73ad; /* fondo azul sólido */
}

ion-toolbar {
  --background: linear-gradient(135deg, #ff2525, #ff7b25); /* gradiente */
  --color: #fff;
}

ion-card {
  --background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 20px 12px rgba(0,0,0,0.25);

  ion-button{
    --color: #000000;
    --background: #1dc44f;
  }
}

ion-card-title {
  color: #2b73ad; /* amarillo/naranja del gradiente */
}



