<ion-tabs>
  <!-- Tabs para todos -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1-menu">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2-pedido">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Mi Pedido</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3-consulta">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Consulta</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4-juegos">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <!-- Para todos -->
    <ion-tab-button tab="tab5-cuenta">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>