<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1-anonimo">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Ingreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2-encuestas">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Encuestas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3-mesa">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Mesa</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
