<ion-content [fullscreen]="true" class="empleado-content">
  <h2 class="empleado-title ion-text-center">Perfil</h2>
    @if (empleado) {
    <div class="empleado-card">
      
      <div class="empleado-avatar">
        <img [src]="empleado.foto || 'assets/avatar-placeholder.png'" id="img-empleado" />
      </div>

      <div class="empleado-text">
        <p>Nombre Completo: {{ empleado.nombre }} {{ empleado.apellido }}</p>
        <p>Rol: {{empleado.perfil}}</p>
        <p>DNI: {{empleado.dni}}</p>
        <p>CUIL: {{empleado.cuil}}</p>
      </div>
    </div>

    <div class="container-cerrar-sesion">
      <ion-button expand="block" (click)="logout()" color="danger">
        Cerrar sesión
      </ion-button>
    </div>
  }
</ion-content>

