<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar producto</ion-title>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="producto-content">

  <div class="producto-wrapper">
    <div class="producto-card-content">
      <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">

        <!-- Campos -->
        <ion-item class="producto-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label position="floating">Tiempo de elaboración (en minutos)</ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="tiempo"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="precio"></ion-input>
        </ion-item>

        <!-- Botón subir imágenes -->
        <ion-item class="producto-item-fotos">
          <ion-label>Fotos</ion-label>
          <ion-button expand="block" color="secondary" (click)="tomarFoto()" class="producto-button-foto">
            Tomar foto
          </ion-button>
          <ion-button expand="block" color="secondary" (click)="seleccionarDeGaleria()" class="producto-button-foto">
            Subir desde galería
          </ion-button>
        </ion-item>

        <!-- Galería con opción de eliminar -->
        <div *ngIf="imagenes && imagenes.length > 0" class="container-img-producto">
          <div *ngFor="let img of imagenes; let i = index" class="img-wrapper">
            <img [src]="img" id="img-producto" alt="Producto {{ i + 1 }}" />
            <ion-button fill="clear" color="danger" size="small" (click)="borrarImagen(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </div>

        <!-- Botón crear producto -->
        <ion-button expand="block" type="submit" class="producto-button">
          Crear Producto
        </ion-button>

        <!-- Botón resetear formulario -->
        <app-secondary-button expand="block" (click)="resetFormulario()" class="producto-button">
          Limpiar todo
        </app-secondary-button>
      </form>
    </div>
  </div>
</ion-content>
