<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar producto</ion-title>
        <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="producto-content">

  <div class="producto-wrapper">
    <div class="producto-card-content">
      <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">

        <!-- Campos -->
        <ion-item class="producto-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="descripcion" [rows]="3" autoGrow="false"></ion-textarea>
        </ion-item>

        <div class="producto-row">
          <ion-item class="producto-item half">
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="text" inputmode="numeric" formControlName="precio"></ion-input>
          </ion-item>

          <ion-item class="producto-item half">
            <ion-label position="floating">Tiempo (min)</ion-label>
            <ion-input type="text" inputmode="numeric" formControlName="tiempo"></ion-input>
          </ion-item>
        </div>

        <!-- Botón subir imágenes -->
        <ion-item class="producto-item-fotos">
          <ion-button expand="block" color="secondary" (click)="tomarFoto()" class="producto-button-foto">
            Tomar foto
          </ion-button>
          <ion-button expand="block" color="secondary" (click)="seleccionarDeGaleria()" class="producto-button-foto">
            Subir desde galería
          </ion-button>
        </ion-item>

        <!-- carrousel-->
        <div *ngIf="imagenes && imagenes.length > 0" class="carousel-container">
          <div class="carousel-scroll">
            <div *ngFor="let img of imagenes; let i = index" class="carousel-slide">
              <img [src]="img" alt="Producto {{ i + 1 }}" class="carousel-img" />
              <ion-button fill="clear" color="danger" size="small" 
                          class="carousel-delete" (click)="borrarImagen(i)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
        <!-- Botón crear producto -->
        <ion-button expand="block" type="submit" class="producto-button">
          Crear Producto
        </ion-button>

      </form>
    </div>
  </div>
</ion-content>
