<ion-content [fullscreen]="true" class="producto-content">
  <h2 class="cliente-title">Agregar Producto</h2>

  <div class="producto-wrapper">
    <div class="producto-card-content">
      <form [formGroup]="productoForm" (ngSubmit)="crearProducto()">
        <ion-item class="producto-item">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label position="floating">Descripción</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label position="floating">Tiempo de elaboración (en minutos)</ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="tiempo"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label position="floating">Precio</ion-label>
          <ion-input type="text" inputmode="numeric" formControlName="precio"></ion-input>
        </ion-item>

        <ion-item class="producto-item">
          <ion-label>Fotos</ion-label>
          <ion-button expand="block" (click)="tomarFoto()" class="producto-button">Subir imágenes</ion-button>
        </ion-item>

        <div *ngIf="imagenes && imagenes.length > 0" class="container-img-producto">
          <img *ngFor="let img of imagenes; let i = index"
                [src]="img"
                id="img-producto"
                alt="Producto {{ i + 1 }}"/>
        </div>

        <ion-button expand="block" type="submit" class="producto-button">
          Crear Producto
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
