@import '../../../theme/tabs-shared.scss';

.spinner-container {
    @extend .flex-column-center;
    gap: 15px;
}

.spinner-icon {
    animation: pulse 500ms ease-in-out infinite;
}

.spinner-message {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}