
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1-agregar-producto">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Platos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3-menu" >
      <ion-icon name="list"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2-recibir-pedido" >
      <ion-icon name="list"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4-perfil">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
