// tabs-cocinero.page.scss
// Usa estilos compartidos de _tabs-shared.scss

@import '../../theme/_tabs-shared.scss';

:host {
  @extend %shared-tab-header;
  @extend %shared-tab-bar-base;
}

ion-content {
  @extend %tabs-content-dark-blue;

  &[fullscreen="true"] {
    --offset-top: 60px;
  }
}

.tabs-cocinero-content {
  @extend %tabs-content-dark-blue;

  &[fullscreen="true"] {
    --offset-top: 60px;
  }
}

/* Tabs bar fijo */
ion-tabs {
  ion-tab-bar {
    ion-tab-button {
      ion-icon {
        transition: all 0.3s ease;
      }

      &.tab-selected {
        ion-label {
          color: #ff6b47;
        }
      }
    }
  }
}