<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seleccionar Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">maps</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="all" class="search">
      <ion-input
        label="Ingrese su direccion"
        labelPlacement="floating"
        type="text"
        #inputDireccion
        [(ngModel)]="direccionInput"
        (keyup.enter)="buscarDireccion()"
     ></ion-input>
  </ion-item>

  <google-map
  height="85%"
  width="100%"
  [center]="coords"
  [zoom]="mapZoom"
  [options]="mapOptions"
  (mapClick)="handleMapClick($event)"
  >

    <map-marker
      [position]="markerPos"
      [options]="markerOpts"
      (mapDragend)="handleMarkerDragEnd($event)"
    ></map-marker>
  </google-map>

  <div class="direccion-input">
    
  </div>
  <div class="button-container">
    <ion-button expand="block" 
    (click)="confirmarUbicacion()">
      Confirmar Ubicación
    </ion-button>
  </div>

</ion-content>
