ion-input {
  --background: white;
  --padding-start: 15px;
  --padding-end: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
  margin-bottom: 5px;
}